#**Excelerate Student Engagement and Churn Analysis**

In [ ]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
SLU = pd.read_csv('/content/SLU Opportunity Wise Data-1710158595043 - SLU Opportunity Wise Data-1710158595043.csv')

In [ ]:
SLU.head()

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Date of Birth,Gender,Country,Institution Name,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
0,06/14/2023 12:30:35,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Faria,01/12/2001,Female,Pakistan,Nwihs,Radiology,03/11/2024 12:01:41,Started,1080,06/14/2023 12:36:09,11/03/2022 18:30:39
1,05/01/2023 05:29:16,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Poojitha,08/16/2000,Female,India,SAINT LOUIS,Information Systems,03/11/2024 12:01:41,Started,1080,05/01/2023 06:08:21,11/03/2022 18:30:39
2,04/09/2023 20:35:08,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Emmanuel,01/27/2002,Male,United States,Illinois Institute of Technology,Computer Science,03/11/2024 12:01:41,Started,1080,05/11/2023 1085640:21:29,11/03/2022 18:30:39
3,08/29/2023 05:20:03,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Amrutha Varshini,11/01/1999,Female,United States,Saint Louis University,Information Systems,03/11/2024 12:01:41,Team Allocated,1070,10/09/2023 22:02:42,11/03/2022 18:30:39
4,01/06/2023 15:26:36,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Vinay Varshith,04/19/2000,Male,United States,Saint Louis University,Computer Science,03/11/2024 12:01:41,Started,1080,01/06/2023 15:40:10,11/03/2022 18:30:39

In [ ]:
SLU.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8558 entries, 0 to 8557
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Learner SignUp DateTime  8558 non-null   object
 1   Opportunity Id           8558 non-null   object
 2   Opportunity Name         8558 non-null   object
 3   Opportunity Category     8558 non-null   object
 4   Opportunity End Date     8558 non-null   object
 5   First Name               8558 non-null   object
 6   Date of Birth            8558 non-null   object
 7   Gender                   8558 non-null   object
 8   Country                  8558 non-null   object
 9   Institution Name         8553 non-null   object
 10  Current/Intended Major   8553 non-null   object
 11  Entry created at         8558 non-null   object
 12  Status Description       8558 non-null   object
 13  Status Code              8558 non-null   int64
 14  Apply Date               8558 non-null   object
 15  Opportunity Start Date   4764 non-null   object
dtypes: int64(1), object(15)
memory usage: 1.0+ MB

In [ ]:
SLU.describe()

       Status Code
count  8558.000000
mean   1052.225987
std      21.665207
min    1010.000000
25%    1030.000000
50%    1050.000000
75%    1070.000000
max    1120.000000

In [ ]:
# Check for missing values in each column
missing_values = SLU.isnull().sum()

# Print the number of missing values for each column
print(missing_values)

Learner SignUp DateTime       0
Opportunity Id                0
Opportunity Name              0
Opportunity Category          0
Opportunity End Date          0
First Name                    0
Date of Birth                 0
Gender                        0
Country                       0
Institution Name              5
Current/Intended Major        5
Entry created at              0
Status Description            0
Status Code                   0
Apply Date                    0
Opportunity Start Date     3794
dtype: int64

In [ ]:
# Display rows with missing values in 'Institution Name' and 'Current/Intended Major'
missing_institution_major = SLU[SLU['Institution Name'].isnull() | SLU['Current/Intended Major'].isnull()]
print(missing_institution_major[['Institution Name', 'Current/Intended Major']])

                           Institution Name Current/Intended Major
239                                     NaN        Cloud Computing
1256            allama iqbal open universty                    NaN
1651                   Camdenton highschool                    NaN
1746                                    NaN      Digital Marketing
3347                                    NaN        Cloud Computing
3362            University of Port Harcourt                    NaN
4454  LOKMANYA TILAK COLLEGE OF ENGINEERING                    NaN
4994                                    NaN       Computer Science
4996                     Gauhati University                    NaN
6021                                    NaN        Cloud Computing

In [ ]:
# Fill missing values in 'Institution Name' with the mode
institution_mode = SLU['Institution Name'].mode()[0]
SLU['Institution Name'].fillna(institution_mode, inplace=True)

# Fill missing values in 'Current/Intended Major' with the mode
major_mode = SLU['Current/Intended Major'].mode()[0]
SLU['Current/Intended Major'].fillna(major_mode, inplace=True)

# Verify that missing values have been filled
missing_values_after_fill = SLU.isnull().sum()
print(missing_values_after_fill)

# Display rows that previously had missing values to confirm the fill
print(SLU.loc[missing_institution_major.index, ['Institution Name', 'Current/Intended Major']])

Learner SignUp DateTime       0
Opportunity Id                0
Opportunity Name              0
Opportunity Category          0
Opportunity End Date          0
First Name                    0
Date of Birth                 0
Gender                        0
Country                       0
Institution Name              0
Current/Intended Major        0
Entry created at              0
Status Description            0
Status Code                   0
Apply Date                    0
Opportunity Start Date     3794
dtype: int64
                           Institution Name Current/Intended Major
239                  Saint Louis University        Cloud Computing
1256            allama iqbal open universty    Information Systems
1651                   Camdenton highschool    Information Systems
1746                 Saint Louis University      Digital Marketing
3347                 Saint Louis University        Cloud Computing
3362            University of Port Harcourt    Information Systems
4454  LOKMANYA TILAK COLLEGE OF ENGINEERING    Information Systems
4994                 Saint Louis University       Computer Science
4996                     Gauhati University    Information Systems
6021                 Saint Louis University        Cloud Computing

<ipython-input-287-43d3c0b1a02c>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  SLU['Institution Name'].fillna(institution_mode, inplace=True)
<ipython-input-287-43d3c0b1a02c>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  SLU['Current/Intended Major'].fillna(major_mode, inplace=True)

In [ ]:
# rows where First Name and Insitution Name contain characters other than alphabets

import re

def contains_non_alpha(text):
  return bool(re.search(r'[^a-zA-Z]', text))

# Apply the function to 'First Name' and 'Institution Name' columns
SLU['NonAlphaFirstName'] = SLU['First Name'].apply(contains_non_alpha)
SLU['NonAlphaInstitution'] = SLU['Institution Name'].apply(contains_non_alpha)

# Filter rows where either column contains non-alphabetic characters
filtered_SLU = SLU[SLU['NonAlphaFirstName'] | SLU['NonAlphaInstitution']]

# Display the filtered rows
filtered_SLU

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Date of Birth,Gender,Country,Institution Name,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date,NonAlphaFirstName,NonAlphaInstitution
1,05/01/2023 05:29:16,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Poojitha,08/16/2000,Female,India,SAINT LOUIS,Information Systems,03/11/2024 12:01:41,Started,1080,05/01/2023 06:08:21,11/03/2022 18:30:39,False,True
2,04/09/2023 20:35:08,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Emmanuel,01/27/2002,Male,United States,Illinois Institute of Technology,Computer Science,03/11/2024 12:01:41,Started,1080,05/11/2023 1085640:21:29,11/03/2022 18:30:39,False,True
3,08/29/2023 05:20:03,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Amrutha Varshini,11/01/1999,Female,United States,Saint Louis University,Information Systems,03/11/2024 12:01:41,Team Allocated,1070,10/09/2023 22:02:42,11/03/2022 18:30:39,True,True
4,01/06/2023 15:26:36,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Vinay Varshith,04/19/2000,Male,United States,Saint Louis University,Computer Science,03/11/2024 12:01:41,Started,1080,01/06/2023 15:40:10,11/03/2022 18:30:39,True,True
5,03/02/2024 19:16:07,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Mor,05/12/1996,Male,India,Saint Louis University,Mechanical Engineering,03/11/2024 12:01:41,Waitlisted,1040,03/02/2024 20:30:35,NaN,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8553,03/05/2024 16:39:21,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Selam,10/14/2006,Female,Ethiopia,Lideta Catholic Cathedral School,Computer Science,03/11/2024 12:03:14,Team Allocated,1070,03/05/2024 17:10:41,03/08/2024 14:00:00,False,True
8554,03/06/2024 15:58:47,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Gowri Sailesh,05/18/1999,Male,United States,SAINT LOUIS UNIVERSITY,Information Systems,03/11/2024 12:03:14,Team Allocated,1070,03/06/2024 18:22:11,03/08/2024 14:00:00,True,True
8555,02/29/2024 15:02:31,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Abiola,03/16/1999,Male,Nigeria,Tai Solarin university of Education,Political Science,03/11/2024 12:03:14,Team Allocated,1070,02/29/2024 15:10:06,03/08/2024 14:00:00,False,True
8556,12/23/2023 03:53:12,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,venumadhavi,06/05/1997,Female,United States,Saint Louis University,Information Systems,03/11/2024 12:03:14,Team Allocated,1070,02/27/2024 06:48:47,03/08/2024 14:00:00,False,True
8557,06/01/2023 13:22:01,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Prashanth Reddy,11/30/2000,Male,India,Saint Louis University,Artificial Intelligence,03/11/2024 12:03:14,Team Allocated,1070,02/16/2024 16:33:00,03/08/2024 14:00:00,True,True

In [ ]:
# standardize the  First Name and Insitution Name contain characters other than alphabets

def standardize_text(text):
  # Remove non-alphabetic characters and convert to lowercase
  text = re.sub(r'[^a-zA-Z]', '', text).lower()
  return text

# Apply the function to 'First Name' and 'Institution Name' columns
SLU['First Name'] = SLU['First Name'].apply(standardize_text)
SLU['Institution Name'] = SLU['Institution Name'].apply(standardize_text)

In [ ]:
# Forward fill missing values in 'Opportunity Start Date'
SLU['Opportunity Start Date'] = SLU['Opportunity Start Date'].ffill()

In [ ]:
# Check for missing values in each column after the previous operations.
missing_values_final = SLU.isnull().sum()
missing_values_final

Learner SignUp DateTime    0
Opportunity Id             0
Opportunity Name           0
Opportunity Category       0
Opportunity End Date       0
First Name                 0
Date of Birth              0
Gender                     0
Country                    0
Institution Name           0
Current/Intended Major     0
Entry created at           0
Status Description         0
Status Code                0
Apply Date                 0
Opportunity Start Date     0
NonAlphaFirstName          0
NonAlphaInstitution        0
dtype: int64

In [ ]:
# Convert specified text columns to title case and strip whitespace
text_columns = ['First Name', 'Country', 'Institution Name', 'Current/Intended Major', 'Opportunity Name', 'Opportunity Category']

#Strip any leading or trailing spaces in column names before accessing
SLU.columns = SLU.columns.str.strip()

for col in text_columns:
    SLU[col] = SLU[col].astype(str).str.title().str.strip()

In [ ]:
SLU.shape

(8558, 18)

In [ ]:
SLU.dtypes

Learner SignUp DateTime    object
Opportunity Id             object
Opportunity Name           object
Opportunity Category       object
Opportunity End Date       object
First Name                 object
Date of Birth              object
Gender                     object
Country                    object
Institution Name           object
Current/Intended Major     object
Entry created at           object
Status Description         object
Status Code                 int64
Apply Date                 object
Opportunity Start Date     object
NonAlphaFirstName            bool
NonAlphaInstitution          bool
dtype: object

In [ ]:
SLU.dtypes

Learner SignUp DateTime    object
Opportunity Id             object
Opportunity Name           object
Opportunity Category       object
Opportunity End Date       object
First Name                 object
Date of Birth              object
Gender                     object
Country                    object
Institution Name           object
Current/Intended Major     object
Entry created at           object
Status Description         object
Status Code                 int64
Apply Date                 object
Opportunity Start Date     object
NonAlphaFirstName            bool
NonAlphaInstitution          bool
dtype: object

In [ ]:
# Standardizing Date Formats
date_cols = ['Learner SignUp DateTime', 'Date of Birth', 'Apply Date', 'Opportunity Start Date', 'Opportunity End Date',]
for col in date_cols:
    SLU[col] = pd.to_datetime(SLU[col], errors='coerce')

In [ ]:
SLU.dtypes

Learner SignUp DateTime    datetime64[ns]
Opportunity Id                     object
Opportunity Name                   object
Opportunity Category               object
Opportunity End Date       datetime64[ns]
First Name                         object
Date of Birth              datetime64[ns]
Gender                             object
Country                            object
Institution Name                   object
Current/Intended Major             object
Entry created at                   object
Status Description                 object
Status Code                         int64
Apply Date                 datetime64[ns]
Opportunity Start Date     datetime64[ns]
NonAlphaFirstName                    bool
NonAlphaInstitution                  bool
dtype: object

In [ ]:
# Check for missing values (NaT) in the date columns after conversion
for column in date_cols:
    print(f"Number of missing values in {column}:", SLU[column].isna().sum())

Number of missing values in Learner SignUp DateTime: 295
Number of missing values in Date of Birth: 0
Number of missing values in Apply Date: 307
Number of missing values in Opportunity Start Date: 3105
Number of missing values in Opportunity End Date: 1262

In [ ]:
# Forward fill missing values in specified date columns
for col in ['Learner SignUp DateTime', 'Opportunity Start Date', 'Opportunity End Date']:
    SLU[col] = SLU[col].ffill()

In [ ]:
SLU.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8558 entries, 0 to 8557
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Learner SignUp DateTime  8558 non-null   datetime64[ns]
 1   Opportunity Id           8558 non-null   object
 2   Opportunity Name         8558 non-null   object
 3   Opportunity Category     8558 non-null   object
 4   Opportunity End Date     8558 non-null   datetime64[ns]
 5   First Name               8558 non-null   object
 6   Date of Birth            8558 non-null   datetime64[ns]
 7   Gender                   8558 non-null   object
 8   Country                  8558 non-null   object
 9   Institution Name         8558 non-null   object
 10  Current/Intended Major   8558 non-null   object
 11  Entry created at         8558 non-null   object
 12  Status Description       8558 non-null   object
 13  Status Code              8558 non-null   int64
 14  Apply Date               8251 non-null   datetime64[ns]
 15  Opportunity Start Date   8558 non-null   datetime64[ns]
 16  NonAlphaFirstName        8558 non-null   bool
 17  NonAlphaInstitution      8558 non-null   bool
dtypes: bool(2), datetime64[ns](5), int64(1), object(10)
memory usage: 1.1+ MB

## **Feature Egineering**

In [ ]:
# Calculate the age of the learner
SLU['Age of Learner'] = (pd.to_datetime('today') - SLU['Date of Birth']).dt.days // 365

# Display the first few rows to verify the age calculation
print(SLU[['Date of Birth', 'Age of Learner']].head())

  Date of Birth  Age of Learner
0    2001-01-12              24
1    2000-08-16              24
2    2002-01-27              23
3    1999-11-01              25
4    2000-04-19              24

In [ ]:
# Calculate engagement duration
SLU['Engagement Duration'] = (SLU['Apply Date'] - SLU['Opportunity Start Date']).dt.days

# Display the first few rows to verify the engagement duration calculation
print(SLU[['Apply Date', 'Opportunity Start Date', 'Engagement Duration']].head())

           Apply Date Opportunity Start Date  Engagement Duration
0 2023-06-14 12:36:09    2022-11-03 18:30:39                222.0
1 2023-05-01 06:08:21    2022-11-03 18:30:39                178.0
2                 NaT    2022-11-03 18:30:39                  NaN
3 2023-10-09 22:02:42    2022-11-03 18:30:39                340.0
4 2023-01-06 15:40:10    2022-11-03 18:30:39                 63.0

In [ ]:
# Count missing values in 'Engagement Duration'
missing_engagement_duration = SLU['Engagement Duration'].isnull().sum()
print(f"Number of missing values in Engagement Duration: {missing_engagement_duration}")

Number of missing values in Engagement Duration: 307

In [ ]:
# Fill missing values in 'Engagement Duration' with the mean
mean_engagement_duration = SLU['Engagement Duration'].mean()
SLU['Engagement Duration'].fillna(mean_engagement_duration, inplace=True)

# Verify that missing values have been filled
missing_engagement_duration_after_fill = SLU['Engagement Duration'].isnull().sum()
print(f"Number of missing values in Engagement Duration after fill: {missing_engagement_duration_after_fill}")

Number of missing values in Engagement Duration after fill: 0

<ipython-input-304-93f4ba3d70c0>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  SLU['Engagement Duration'].fillna(mean_engagement_duration, inplace=True)

In [ ]:
# Extract month and year from 'Learner SignUp DateTime'
SLU['SignUpMonth'] = SLU['Learner SignUp DateTime'].dt.month
SLU['SignUpYear'] = SLU['Learner SignUp DateTime'].dt.year

# Preview the new columns
print(SLU[['Learner SignUp DateTime', 'SignUpMonth', 'SignUpYear']].head())

  Learner SignUp DateTime  SignUpMonth  SignUpYear
0     2023-06-14 12:30:35            6        2023
1     2023-05-01 05:29:16            5        2023
2     2023-04-09 20:35:08            4        2023
3     2023-08-29 05:20:03            8        2023
4     2023-01-06 15:26:36            1        2023

In [ ]:
# Calculate the duration of each opportunity
SLU['Time in Opportunity'] = (SLU['Opportunity End Date'] - SLU['Opportunity Start Date']).dt.days

# Display the first few rows to verify the calculation
print(SLU[['Opportunity Start Date', 'Opportunity End Date', 'Time in Opportunity']].head())

  Opportunity Start Date Opportunity End Date  Time in Opportunity
0    2022-11-03 18:30:39  2024-06-29 18:52:39                  604
1    2022-11-03 18:30:39  2024-06-29 18:52:39                  604
2    2022-11-03 18:30:39  2024-06-29 18:52:39                  604
3    2022-11-03 18:30:39  2024-06-29 18:52:39                  604
4    2022-11-03 18:30:39  2024-06-29 18:52:39                  604

In [ ]:
# calculate an Engagement Score by combining features like Time in Opportunity, Age, and Opportunity Category
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

# Encode categorical column
encoder = LabelEncoder()
SLU['Opportunity Category Encoded'] = encoder.fit_transform(SLU['Opportunity Category'])

# Normalize using MinMaxScaler
scaler = MinMaxScaler()
SLU[['Time in Opportunity', 'Age of Learner', 'Opportunity Category Encoded']] = scaler.fit_transform(
    SLU[['Time in Opportunity', 'Age of Learner', 'Opportunity Category Encoded']]
)
# Assign weights (adjust based on importance)
w1, w2, w3 = 0.5, 0.3, 0.2  # Example: More weight to Time in Opportunity

# Compute Engagement Score
SLU['Engagement Score'] = (w1 * SLU['Time in Opportunity'] +
                           w2 * SLU['Age of Learner'] +
                           w3 * SLU['Opportunity Category Encoded'])
# Display the results
SLU[['Time in Opportunity', 'Age of Learner', 'Opportunity Category Encoded', 'Engagement Score']].head()

,Time in Opportunity,Age of Learner,Opportunity Category Encoded,Engagement Score
0,0.697652,0.358491,0.25,0.506373
1,0.697652,0.358491,0.25,0.506373
2,0.697652,0.339623,0.25,0.500713
3,0.697652,0.377358,0.25,0.512033
4,0.697652,0.358491,0.25,0.506373

In [ ]:
# Extract the day of the week from 'Learner SignUp DateTime'
SLU['SignUpDayOfWeek'] = SLU['Learner SignUp DateTime'].dt.day_name()

# Display the first few rows to verify the extraction
print(SLU[['Learner SignUp DateTime', 'SignUpDayOfWeek']].head())

  Learner SignUp DateTime SignUpDayOfWeek
0     2023-06-14 12:30:35       Wednesday
1     2023-05-01 05:29:16          Monday
2     2023-04-09 20:35:08          Sunday
3     2023-08-29 05:20:03         Tuesday
4     2023-01-06 15:26:36          Friday

In [ ]:
# Save the cleaned dataset to a CSV file
SLU.to_csv('Cleaned_Preprocessed_Dataset_Week1.csv', index=False)